# Sources
src/

# Config files
*.config.ts
*.config.js
*.config.mjs
tsconfig.json
tsconfig.build.json
tsconfig.app.json

# Dev tooling
tools/
.editorconfig
.npmrc
.eslintrc*
eslint.config.*
prettier.config.*
vitest.config.*

# CI/CD
.github/
.husky/

# Build artifacts
coverage/
*.tsbuildinfo

# Other
.gitattributes
.gitignore
.changeset/
.vscode/

# Dist
dist/**/*.map
dist/**/*.d.ts.map
dist/meta-*.json
dist/**/meta-*.json
dist/**/*.test.d.ts
dist/**/*.test.d.ts.map
dist/**/*.spec.d.ts
dist/**/*.spec.d.ts.map

yal.toml
