.\@nkardaz-typography-ruby {
  &.--alternate {
    -webkit-ruby-position: alternate;
    ruby-position: alternate;
  }

  &.--over {
    -webkit-ruby-position: over;
    ruby-position: over;
  }

  &.--under {
    -webkit-ruby-position: under;
    ruby-position: under;
  }

  &.--center {
    ruby-align: center;
  }

  &.--start {
    ruby-align: start;
  }

  &.--space-between {
    ruby-align: space-between;
  }

  &.--space-around {
    ruby-align: space-around;
  }
}
